schedule:
  highstate:
    function: state.highstate
    minutes: 3600

raspberrypi:
  base_hostname: shawmut.home
  base_ip: 192.168.13.17

  authorized_keys: []

shawmut:
  forecast_io_key: ""
  latitude: 42.337537
  longitude: -71.077435
  bd_addrs: []

dyndns:
  # Required for client and server:
  username: dyndns
  password: superSecret
  host: smad.website
  # Only required for client:
  names:
    - madison.pw
  # Only required for server:
  conf:
    accessKeyId: <YOUR_PUB_KEY>
    secretAccessKey: <YOUR_PRIV_KEY>
  ssl_cert_path: /etc/ssl/smad.website

backup:
  bucket: smad.website
  accessKeyId: <YOUR_PUB_KEY>
  secretAccessKey: <YOUR_PRIV_KEY>
  gpg_passphrase: <A_PASSPHRASE_THAT_YOU_HAVE_SAVED_SOMEPLACE_SAFE>
  admin_email: <YOUR_EMAIL>
  targets:
    - dir: /var/www/ghost/content
      name: ghost
      hour: "*/4"
      retain: 7
    - dir: /etc/nginx/ssl
      name: nginx-ssl
      hour: "*/12"
      retain: 4
